In [1]:
import joblib
import pandas as pd

eda_results = joblib.load('../data/artifacts/eda_results_20251108154443.joblib')

In [2]:
df = pd.read_csv('../data/raw/LEP.csv')

In [15]:
df['Credit_History'].unique()

array([1, 0])

In [9]:
cat_cols = df.select_dtypes(exclude='number').columns
for col in cat_cols:
    display(f'{col} - {df[col].unique()}')

"Gender - ['Female' 'Male']"

"Married - ['No' 'Yes']"

"Education - ['Graduate' 'Not Graduate']"

"Self_Employed - ['No' 'Yes']"

"Property_Area - ['Urban' 'Semiurban' 'Rural']"

"Loan_Status - ['N' 'Y']"

In [11]:
df[df['Applicant_Income'] > 10000][['Applicant_Income','Loan_Status']].reset_index()

    index  Applicant_Income Loan_Status
0       9             13262           Y
1      26             15759           Y
2      50             14866           Y
3      84             11000           N
4      90             16667           Y
5     125             14880           Y
6     193             16692           Y
7     253             39147           Y
8     287             18165           Y
9     348             11146           Y
10    389             16525           Y
11    400             37719           Y
12    421             10513           N
13    437             12000           N
14    478             14583           Y
15    486             11757           Y
16    492             10416           N
17    502             16250           N
18    506             11250           N
19    526             11417           Y
20    528             17263           Y
21    531             10833           Y
22    535             14999           N
23    546             10408           Y
24    548             33846           N
25    549             10139           Y
26    550             16120           Y
27    555             16666           Y
28    558             11500           N
29    562             15000           Y
30    563             14683           N
31    566             10750           Y
32    568             12500           N
33    571             12841           N
34    573             81000           N
35    574             23803           Y
36    577             17500           Y
37    578             12876           Y
38    579             14583           Y
39    580             20233           N
40    581             20833           Y
41    583             63337           Y
42    585             12000           Y
43    586             18333           N
44    587             19730           N
45    588             39999           Y
46    589             19484           Y
47    590             20166           Y
48    591             51763           Y
49    597             13650           Y
50    602             20667           N
51    607             10047           Y

In [12]:
df[df['Coapplicant_Income'] > 5000][['Coapplicant_Income','Loan_Status']].reset_index()

    index  Coapplicant_Income Loan_Status
0      45              5063.0           N
1      53              6666.0           N
2     103             33837.0           N
3     159             20000.0           Y
4     353              8980.0           Y
5     361              5302.0           N
6     404              5701.0           Y
7     445              5296.0           Y
8     461              8333.0           Y
9     468              7250.0           N
10    476              7210.0           Y
11    488              5625.0           Y
12    491              6250.0           Y
13    493              5064.0           Y
14    497              5654.0           Y
15    507              8106.0           Y
16    517              5624.0           Y
17    524              5500.0           Y
18    533             20000.0           N
19    541              5625.0           Y
20    556              7101.0           Y
21    559              7750.0           N
22    567              5625.0           Y
23    571             10968.0           N
24    572             41667.0           N
25    576              7873.0           Y
26    581              6667.0           Y
27    582              7166.0           Y
28    584             11300.0           N
29    587              5266.0           N